{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ .Content }}

<table class="sortable">
  <tr>
    <th>ID</th>
    <th>名称</th>
    <th>序列</th>
    <th>创建日期</th>
  </tr>
  {{ range (where .Data.Pages "Section" "!=" "") }}
  <tr>
    <td>{{ .Params.code }}</td>
    <td><a href="{{ .URL }}">{{ .Title }}</a></td>
    <td>
      {{ if fileExists (printf "content/post/%s.json" .File) }}
        <a href="{{ printf "/post/%s.json" .File }}">{{ printf "%s.json" .File }}</a>
      {{ else }}
        暂无
      {{ end }}
    </td>
    <td>{{ .Date.Format "2006/01/02" }}</td>
  </tr>
  {{ end }}
</table>

{{ partial "footer.html" . }}
